{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2016,
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint", "import", "import-helpers", "jest", "prettier"],
	"extends": [
		"airbnb",
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"rules": {
		"prettier/prettier": "error",
		"class-methods-use-this": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/camelcase": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"import-helpers/order-imports": [
			"warn",
			{
				"newlines-between": "always",
				"groups": [["builtin", "external", "internal"], "/^@/", ["parent", "sibling", "index"]],
				"alphabetize": { "order": "asc", "ignoreCase": true }
			}
		],
		"import/no-dynamic-require": "off",
		"no-param-reassign": "off",
		"no-unused-expressions": "off",
		"no-underscore-dangle": "off",
		"import/prefer-default-export": "off",
		"import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"ts": "never"
			}
		]
	},
	"settings": {
		"import/extensions": [".js", ".ts"],
		"import/parsers": {
			"@typescript-eslint/parser": [".ts"]
		},
		"import/resolver": {
			"typescript": {}
		}
	}
}
